<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <img src="../assets/../assets/images/bootstrap-solid.svg" width="30" height="30" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> icono </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#inicio">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#acerca">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portafolio">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacto">Contactenos</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bgimg-1 display-contenedor-menu opacidad-contenedor-menu" id="inicio">
  <div class="display-middle">
    <span class="formatoTitulo fondo-logo text-white sizeL">MY
      <span>WEBSITE</span> LOGO</span>
  </div>
</div>
<div id="acerca">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center">
    <em>I love photography</em>
  </p>
  <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem
    ipsum
    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
    adipiscing
    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p>
        <b>
          <i class="fa fa-user w3-margin-right"></i>My Name</b>
      </p>
      <br>
      <img src="/w3../assets/images/avatar_hat.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me"
        width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <p class="text-center pad16">Im really good at:</p>
  <p class="w3-wide">
    <i class="fa fa-camera"></i>Photography</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide">
    <i class="fa fa-laptop"></i>Web Design</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide">
    <i class="fa fa-photo"></i>Photoshop</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
</div>
<div>
  <div>
    <span>14+</span>
    <br> Partners
  </div>
  <div>
    <span>55+</span>
    <br> Projects Done
  </div>
  <div>
    <span>89+</span>
    <br> Happy Clients
  </div>
  <div>
    <span>150+</span>
    <br> Meetings
  </div>
</div>
<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 display-contenedor-menu opacidad-contenedor-menu">
  <div class="display-middle">
    <span class="sizeL text-white formatoTitulo">PORTAFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="contenido contenedor pad64" id="portafolio">
  <h3 class="text-center">MI TRABAJO</h3>
  <p class="text-center">
    <em>Éstos son algunos de mis últimos trabajos en curso ipsum tipsum.
      <br>Haz click en las imágenes para agrandarlas</em>
  </p>
  <br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <!--div class="row row-pad text-center">
    <div class="col-md-3">
      <img src="../assets/images/p1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity"
        alt="The mist over the mountains">
    </div>

    <div class="col-md-3">
      <img src="../assets/images/p2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Coffee beans">
    </div>

    <div class="col-md-3">
      <img src="../assets/images/p3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Bear closeup">
    </div>

    <div class="col-md-3">
      <img src="../assets/images/p4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Quiet ocean">
    </div>
  </div>

  <div class="row row-pad text-center seccion">
    <div class="col-md-3">
      <img src="../assets/images/p5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist">
    </div>

    <div class="col-md-3">
      <img src="../assets/images/p6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity"
        alt="My beloved typewriter">
    </div>

    <div class="col-md-3">
      <img src="../assets/images/p7.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity"
        alt="Empty ghost train">
    </div>

    <div class="col-md-3">
      <img src="../assets/images/p8.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Sailing">
    </div>
    <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">LOAD MORE</button>
  </div-->
  <app-galeria></app-galeria>
</div>
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image">
    <i class="fa fa-remove"></i>
  </span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>
<div class="bgimg-3 display-contenedor-menu opacidad-contenedor-menu">
  <div class="display-middle">
    <span class="sizeL text-white formatoTitulo">CONTACT</span>
  </div>
</div>
<div class="contenido contenedor pad64" id="contacto">
  <h3 class="text-center">WHERE I WORK</h3>
  <p class="text-center">
    <em>I'd love your feedback!</em>
  </p>

  <div class="row pad32 seccion">
    <div class="col-md-4 container">
      <!-- Add Google Maps -->
      <!--div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div-->
    </div>
    <div class="panel col-md-8">
      <div class="panel-body">
        <div class="sizeM">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Guatemala, Guatemala
          <br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Telefono: +502 1234-5678
          <br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Correo Electronico:
          mail@mail.com
          <br>
        </div>
        <p>Enviame tus comentarios, yo me contactare con tu persona</p>
        <form class="form-horizontal col-md-12 col-sm-12 col-xs-12" name="frmSendInfo" ng-submit="sendInfo()"
          novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" required name="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Email" required name="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Message" required name="Message">
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-warning" type="submit">
              <i class="fa fa-paper-plane"></i> Enviare mensaje
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="text-center fondo-logo padd64 w3-opacity w3-hover-opacity-off">
  <a href="#inicio" class="btn btn-default">
    <i class="fa fa-arrow-up"></i>Regresar a inicio</a>
  <div class="section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by
    <a href="#inicio" title="Fotografia.Guatemalteca" target="_blank">Fotografia.Guatemalteca</a>
  </p>
</footer>